*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* body {
    background-image: url('/repairshop/public/images/VyStarAmp_Signage_Mockup1.jpg');
    background-size: cover;
    background-position: center;
} */